<header class="heading">
    <nav class="navbar">
        <img class="logo" src="./assets/logo.svg" alt="logo">
        <div class="menu_icon" onclick="toggleMenu()">
            <div class="burger">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
        </ul>
    </nav>
    <div id="menu">
        <ul>
            <li>About</li>
            <li>Work</li>
        </ul>
    </div>
</header>

