<section class="main">
    <div class="text">
        <div class="name">
            <h1>
                <span class="highlight">{{name}}</span>
            </h1>
            <h2 class="pronouns">
                <span>{{pronouns}}</span>
            </h2>
        </div>

        <div class="tagline">
            <h2 class="role">
                <span class="web_image">
                    <img src="./assets/Web.svg" alt="web">
                </span>
                <span class="text-gradient">{{role}}</span>
            </h2>
            <h2 class="passion">
                {{tagline}}
            </h2>
        </div>

        <div class="connect">
            <a href="{{linkedin}}" target="_blank" aria-label="LinkedIn">
                <img src="./assets/linkedin.svg" alt="linkedin">
            </a>
            <a href="{{github}}" target="_blank" aria-label="GitHub">
                <img src="./assets/github.svg" alt="github">
            </a>
            <a href="{{twitter}}" target="_blank" aria-label="Twitter">
                <img src="./assets/twitter.svg" alt="twitter">
            </a>
        </div>
    </div>

    <div class="poster_boy">
        <img src="./assets/poster_boy.svg" alt="hero">
    </div>
</section>

